/* line 23, base2.scss */
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 31, base2.scss */
ol, ul {
  list-style: square;
  margin: 0 0 0.5em;
}

/* HTML5 display-role reset for older browsers */
/* line 38, base2.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 41, base2.scss */
body {
  color: #666;
  font-family: Georgia, serif;
  line-height: 1.5;
  margin: 0;
  background-color: #FFF;
}

/* line 50, base2.scss */
blockquote, q {
  quotes: none;
}

/* line 54, base2.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 58, base2.scss */
code {
  background-color: #f4f4f4;
  font-family: Menlo, 'Panic Sans', monospace;
  font-size: 0.875em;
}

/* line 63, base2.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 67, base2.scss */
strong {
  font-weight: bold;
}

/* line 70, base2.scss */
p {
  margin: 0 0 0.5em;
  /*max-width: 634px;*/
}

/* grid styles */
/* line 77, base2.scss */
.grid:after,
.header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 83, base2.scss */
.grid .pageWrap,
.grid .header {
  margin: 0 auto;
  width: 1206px;
}
/* line 88, base2.scss */
.grid .pageWrap .section,
.grid .pageWrap .header,
.grid .header .section,
.grid .header .header {
  margin-bottom: 20px;
}
/* line 93, base2.scss */
.grid .pageWrap .section .grid-pad,
.grid .header .section .grid-pad {
  padding-left: 20px;
}
/* line 98, base2.scss */
.grid .pageWrap .header,
.grid .header .header {
  overflow: hidden;
}
/* line 102, base2.scss */
.grid .pageWrap .nav,
.grid .header .nav {
  text-align: right;
  list-style-type: none;
}
/* line 106, base2.scss */
.grid .pageWrap .nav li,
.grid .header .nav li {
  display: inline;
  padding-right: 10px;
  padding-left: 15px;
  font-size: 0.8em;
}
/* line 112, base2.scss */
.grid .pageWrap .nav li a,
.grid .header .nav li a {
  color: #CCC;
  text-decoration: none;
}
/* line 116, base2.scss */
.grid .pageWrap .nav li a:hover,
.grid .header .nav li a:hover {
  text-decoration: underline;
  color: #ff0000;
}
/* line 120, base2.scss */
.grid .pageWrap .nav li a:active,
.grid .header .nav li a:active {
  color: #00ff00;
  text-decoration: none;
}
/* line 126, base2.scss */
.grid .pageWrap .nav li .current,
.grid .header .nav li .current {
  color: #00ff00;
  text-decoration: none;
}
/* line 132, base2.scss */
.grid .pageWrap .nav:first-child,
.grid .header .nav:first-child {
  border-left: none;
}
/* line 137, base2.scss */
.grid .pageWrap .col-1-2,
.grid .header .col-1-2 {
  width: 50%;
  float: left;
}
/* line 141, base2.scss */
.grid .pageWrap .col-1-2:first-child,
.grid .header .col-1-2:first-child {
  padding-left: 0;
}

/* line 152, base2.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: sommet-slab-1, sommet-slab-2, Georgia, serif;
  font-weight: normal;
  line-height: 1.2;
  padding: 0.5em 0 0.25em;
}

/* line 159, base2.scss */
h1 {
  font-size: 3em;
}

/* line 163, base2.scss */
h2 {
  font-size: 2em;
}

/* line 167, base2.scss */
h3 {
  font-size: 1.5em;
}

/* line 171, base2.scss */
h4 {
  font-size: 1.25em;
}

/* line 175, base2.scss */
h5, h6 {
  font-size: 1em;
}

/* line 179, base2.scss */
a {
  color: #11bad3;
  text-decoration: none;
}
/* line 183, base2.scss */
a:hover {
  text-decoration: underline;
}

/* line 188, base2.scss */
img {
  max-width: 100%;
}

/* line 192, base2.scss */
hr {
  border: none;
  background: url(../images/bg_hr.png) center center no-repeat;
  height: 10px;
}

/* line 199, base2.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 204, base2.scss */
.footer p {
  color: #CCC;
  /*text-align: center;*/
  max-width: none;
}

/* line 211, base2.scss */
.gallery {
  position: relative;
}

/* line 215, base2.scss */
.ie7 .rslides li a span {
  top: auto;
}

/* line 218, base2.scss */
.ie8 img {
  max-width: auto;
}

/*****************
Icon fonts 
******************/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 238, base2.scss */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

/* line 246, base2.scss */
.icon {
  font-family: 'icomoon';
  font-size: 2em;
  vertical-align: baseline;
  position: relative;
  top: 2px;
  padding-right: 10px;
  display: none;
}

/* line 256, base2.scss */
a.icon {
  text-decoration: none;
}

/****************************
 slider3-pager overrides 
****************************/
/* line 264, base2.scss */
.gallery .rslides_tabs {
  background: #FFFFFF;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
